<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head data-th-fragment="header">
    <meta charset="utf-8" />
    <link data-th-href="@{/resources/css/style.css}" rel="stylesheet" />
    <link data-th-href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
	<title data-th-text="#{app.edit.page.title}">Temp Title</title>
</head>
<body>
<div class="container">
	<form action="#" data-th-action="@{/app/edit}" data-th-object="${app}" method="post">
	<table class="box-table-a">
		<caption data-th-text="#{app.edit.form.title}">Add Title</caption>
		<tbody>
            <tr>
                <td data-th-text="#{app.list.name.label}">Temp Name</td>
                <td>
                    <input type="text" hidden="hidden" data-th-value="*{id}" data-th-field="*{id}" />
                    <input type="text" hidden="hidden" data-th-value="*{user.id}" data-th-field="*{user.id}" />
                    <input type="text" data-th-value="*{name}" data-th-field="*{name}" />
                </td>
            </tr>
            <tr>
                <td data-th-text="#{app.list.app_type.label}">Temp Type</td>
                <td>
                    <select data-th-field="*{appType}">
                        <option data-th-each="appType : ${T(com.loopme.opinta.enums.AppType).values()}"
                                data-th-value="${appType}"
                                data-th-text="${appType}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td data-th-text="#{app.list.content_type.label}">Content Type Label</td>
                <td>
                    <select data-th-field="*{contentTypes}" multiple="multiple" data-th-size="3" >
                        <option data-th-each="contentType : ${T(com.loopme.opinta.enums.ContentType).values()}"
                                data-th-value="${contentType}"
                                data-th-text="${contentType}"
                        >
                        </option>
                    </select>
                </td>
            </tr>
			<tr>
				<td>
					<button type="submit" name="action" value="save" data-th-text="#{update.button.label}">save</button>
				</td>
				<td>
					<button type="submit" name="action" value="cancel" data-th-text="#{cancel.button.label}">cancel</button>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
			