<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <form class="form-signin" th:action="@{/login}" method="POST">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group" th:classappend="${error == null || error == '' ? '' : 'has-error'}">
            <p th:if="${message}" th:text="${message}"/>

            <input class="form-control" type="text" name="username" placeholder="Username" autofocus="autofocus"/>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password"/>

            <p th:if="${error}" th:text="${error}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
