<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Advertising platform</title>

    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/common.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>

    <h2 th:text="'Welcome ' + ${username} + '!'"></h2>
    <tr th:each="role : ${roles}">
        <td th:text="${role}">role</td>
    </tr>

    <h4><a th:href="@{/registration/role}">Create an account</a></h4>

    <a href="#" onclick="document.forms['logoutForm'].submit()">Logout</a>

    <!--<div sec:authorize="${hasAuthority('ROLE_ADMINISTRATOR')}" > IS ADMIN </div>-->
    <!--<div sec:authorize="${hasAuthority('ROLE_OPERATOR')}" > IS OPERATOR </div>-->
    <!--<div sec:authorize="${hasAuthority('ROLE_PUBLISHER2')}" > IS PUBLISHER </div>-->
    <!--<div sec:authorize="${hasRole('ROLE_ADMINISTRATOR')}" > IS ADMIN </div>-->
    <!--<div sec:authorize="${hasRole('ROLE_OPERATOR')}" > IS OPERATOR </div>-->
    <!--<div sec:authorize="${hasRole('ROLE_PUBLISHER')}" > IS PUBLISHER </div>-->

    <!--Logged user: <span sec:authentication="name">Bob</span>-->
    <!--Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->
</div>
<!-- /container -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
