<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head data-th-fragment="header">
    <meta charset="utf-8" />
	<link data-th-href="@{/resources/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<title data-th-text="#{user.list.page.title}">Temp Title</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <form id="logoutForm" method="POST" data-th-action="@{/logout} " >
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" />
                <button class="btn btn-link" type="submit">Logout (<span sec:authentication="name" />)</button>
            </form>
        </div>
        <div class="col-md-2" sec:authorize="${!hasRole('ROLE_ADMINISTRATOR')}">
            <form method="GET" data-th-action="@{/app/list}">
                <button class="btn btn-link" type="submit">Switch to Apps</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="box-table-a">
                <caption data-th-text="#{user.list.table.title}">Temp table title</caption>
                <thead>
                    <tr>
                        <th scope="col" data-th-text="#{user.list.name.label}">Temp Name</th>
                        <th scope="col" data-th-text="#{user.list.email.label}">Temp Email</th>
                        <th scope="col" data-th-text="#{user.list.role.label}">Temp Role</th>
                        <th scope="col" data-th-text="#{user.list.actions.label}">Temp Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="user : ${users}">
                        <td data-th-text="${user.username}">Name</td>
                        <td data-th-text="${user.email}">Email</td>
                        <td data-th-text="${user.role}">Role</td>
                        <td><a href="#" data-th-href="@{/user/delete(id=${user.id})}">delete</a> |
                            <a href="#" data-th-href="@{/user/edit(id=${user.id})}">edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div data-th-classappend="${param.error == null || param.error == '' ? '' : 'has-error'}">
                <span class="alert alert-danger" data-th-if="${param.error}" data-th-text="${{param.error}}"/>
            </div>

            <form action="#" data-th-action="@{/user/add}" data-th-object="${user}" method="post">
            <table class="box-table-a">
                <caption data-th-text="#{user.list.add.title}">Add Title</caption>
                <thead>
                    <tr>
                        <th data-th-text="#{user.list.name.label}">Name Label</th>
                        <th data-th-text="#{user.list.email.label}">Email Label</th>
                        <th data-th-text="#{user.list.role.label}">Role Label</th>
                        <th data-th-text="#{user.list.password.label}">Password Label</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" data-th-field="*{username}"/></td>
                        <td><input type="text" data-th-field="*{email}"/></td>
                        <td>
                            <select data-th-field="*{role}">
                                <option data-th-each="role : ${T(com.loopme.opinta.enums.Role).values()}"
                                        data-th-value="${role}"
                                        data-th-text="${role}">
                                </option>
                            </select>
                        </td>
                        <td><input type="password" data-th-field="*{password}"/></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" data-th-text="#{add.button.label}">Action</button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
